.tt { font-family:'Lucida Console', monospace; }


td,th { padding: 4px; }

table,th {
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
  border-collapse:collapse;
}

table {
  width: 100%;
  margin-bottom: 20px;
}
